/* CSS File */

#topBar {
	width: 100%;
	background-color: lightgrey;
}

#topBar h1 {
	text-align: center;
	color: #FFFFFF;
}

#navBar {
	width: 100%;
	background-color: #000000;
}

#navBar a {
	text-decoration: none;
	text-align: center;
	float: left;
	width: 25%;
	background-color: #000000;
}

#navBar a:hover {
	background-color: #FFFFFF;
}